<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AvailableLocalizations" type="BudgetHelper.Settings.AvailableLocalizationsConfig, BudgetHelper"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <AvailableLocalizations>
    <Languages>
      <Language name="ru-RU"/>
      <Language name="en"/>
    </Languages>
  </AvailableLocalizations>
  <appSettings>
    <add key="currentCulture" value="en"/>
  </appSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>